/* You can add global styles to this file, and also import other style files */

.text-center{
    text-align: center;
}

.btn-primary {
    background-color: rgb(255 200 28 / 97%);
    color: #000000b8;
    padding: 15px;
    border: none;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: rgba(250, 190, 8, 0.97);
}
.btn-secondary {
    background-color: #6c757d8f;
    color: #000000b8;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
.form-container {
    max-width: 500px;
    margin: auto;
    padding: 1rem;
}

//diables
.btn-primary:disabled{
    background-color: #ffc81c96;
    border-color: #c0c0c0;
    color: #6c757d;
    cursor: not-allowed;
}

.main{
    background-color: #f8f9fa;
    min-height: 85vh;
}